* {
	margin: 0px;
	padding: 0px;
}	
@media screen and (max-width: 2000px){
  	.Home {
		width: 100%;
		height:  800px;
		margin-top: 0px;
		border-collapse: collapse;
	  	background: #7ABAE2	;
	}
	.Home .Top{
		margin: 0 auto;
		width: 100%;
		height: 130px;
	}
	.Home .Top #Logo{
		width: 467px;
		height: 130px;
		background: url("../Image/Logo.png") no-repeat ;
		float:left;
		margin-left: 10px;
		margin-top: 5px;

	}
	.Home .Top #Menu{
		list-style-type: none;
		overflow: hidden;
		padding: 24px;
		text-align: center;
		font-family: Raleway;
		width: auto;
		height: auto;
		float: left;
		margin-top: 5px;
	}
	
	.Avatar{
		margin-top: 10px;
		margin-left: 30px;
		vertical-align: middle;
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	.Home .Top #Language{
		text-align: center;
		width: 180px;
		height: 130px;
		float: right;
		margin-right: 10px;
		font-size: 15px;
		position: relative;
		margin: 0 auto;
	}
	.Menu_top a{
		float: left;
		text-shadow: 2px 2px 5px darkslategray;
		transition: 0.7s ease;
		background:  url("../Image/None.png") ;
		color: #000000;
		font-size: 25px;
		text-decoration: none;
		margin: 0 20px;
	}
	.Menu_top .icon{
		display: none;
	}
	.Menu_button:hover {
		border-bottom: 1px solid #000000;
		text-decoration: none;
		padding: 6px 0;
	}
	.Login:hover{
		border-bottom: 1px solid #000000;
		text-decoration: none;
		padding: 6px 0;
	}
	.pick_language{
		float: right;
		background: url("../Image/None.png");
	}
	.Body .BackGround_Body{
		width: 500px;
		height: 350px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 30px;
		border-radius: 10px;
		border: 1px solid #000000;
		background: url("../Image/bg-top.jpg");
	}
	.Image_body{
		width: 400px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 5px;
		border-radius: 10px;
		position: relative;
		border: 2px solid #666666;
		z-index: 2;
	}
	img{
		width: 400px;
		height: 250px;
		float: left;

	}
	.Background-choose{
		width: 90px;
		height: auto;
		margin: 0 auto;
		margin-top: 20px;
	}
	.Change {
		list-style-type: none;
		overflow: hidden;
		width: 90px;
		height: 15px;
		transition: all 0.5s;
		margin:  0 auto;
		margin-top: 20px;
	}

	.Image_Stranfer{
		width: 99999px;
		transition: all 0.5s;
	}
	.Image_body:hover .direction{
		display: block;
	}
	.direction{
		position: absolute;
		color: black;
		font-size: 50px;
		top: 40%;
		padding-left: 30px;
		display: none;
	}
	.direction i:last-child{
		position: relative;
		left: 440px;
	}
	.Title_News {
		width: 100px;
		height: 50px;
		margin: 0 auto;
		background: url("../Image/News.png") no-repeat;
		background-size: 100px 50px;
	}

	.Body .Company-Ranking{
		float: left;
		margin-left: 30px;
		margin-top: 30px;
		width: 300px;
		height: 450px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
	.Body .Learn-Ranking{
		float: right;
		margin-right: 30px;
		margin-top: 30px;
		width: 300px;
		height: 450px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
	
}
@media screen and (max-width: 1460px) and (min-width:780px){
	.Home .Top #Language{
		display: none;
	}
	.Body .BackGround_Body{
		width: 600px;
		height: 380px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 30px;
		border-radius: 10px;
		border: 1px solid #000000;
		background: url("../Image/bg-top.jpg");
	}
	.Image_body{
		width: 500px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 5px;
		border-radius: 10px;
		position: relative;
		border: 2px solid #666666;
		z-index: 2;
	}
	img{
		width: 500px;
		height: 300px;
		float: left;

	}
	.Background-choose{
		width: 90px;
		height: auto;
		margin: 0 auto;
		margin-top: 20px;
	}
	.Change {
		list-style-type: none;
		overflow: hidden;
		width: 90px;
		height: 15px;
		transition: all 0.5s;
		margin:  0 auto;
		margin-top: 20px;
	}

	.Image_Stranfer{
		width: 99999px;
		transition: all 0.5s;
	}
	.Image_body:hover .direction{
		display: block;
	}
	.direction{
		position: absolute;
		color: black;
		font-size: 50px;
		top: 40%;
		padding-left: 30px;
		display: none;
	}
	.direction i:last-child{
		position: relative;
		left: 440px;
	}
	.Title_News {
		width: 250px;
		height: 100px;
		margin: 0 auto;
		background: url("../Image/News.png") no-repeat;
	}

	.Body .Company-Ranking{
		float: left;
		margin-left: 30px;
		margin-top: 30px;
		width: 300px;
		height: 450px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
	.Body .Learn-Ranking{
		float: right;
		margin-right: 30px;
		margin-top: 30px;
		width: 300px;
		height: 450px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
}
@media screen and (max-width: 1300px) and (min-width:780px) {
	.Menu_top a:not(:first-child) {display: none;}
	.Menu_top a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 1300px) and (min-width:780px){
	.Menu_top.responsive {position: relative;}
	.Menu_top.responsive .icon {
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.Menu_top.responsive .Menu_button {
		float: none;
		display: block;
		text-shadow: 2px 2px 5px darkslategray;
		transition: 0.7s ease;
		background:  url("../Image/None.png") ;
		color: #000000;
		font-size: 25px;
		text-decoration: none;
		margin: 0 20px;
		text-align: left;
	}
	.Body .BackGround_Body{
		width: 350px;
		height: 240px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 15px;
		border-radius: 10px;
		border: 1px solid #000000;
		background: url("../Image/bg-top.jpg");
	}
	.Image_body{
		width: 300px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 5px;
		border-radius: 10px;
		position: relative;
		border: 1px solid #666666;
		z-index: 2;
	}
	img{
		width: 300px;
		height: 150px;
		float: left;

	}
	.Background-choose{
		width: 70px;
		height: auto;
		margin: 0 auto;
		margin-top: 10px;
	}
	.Change {
		list-style-type: none;
		overflow: hidden;
		width: 45px;
		height: 7.5px;
		transition: all 0.5s;
		margin:  0 auto;
		margin-top: 10px;
	}

	.Image_Stranfer{
		width: 99999px;
		transition: all 0.5s;
	}
	.Image_body:hover .direction{
		display: block;
	}
	.direction{
		position: absolute;
		color: black;
		font-size: 25px;
		top: 20%;
		padding-left: 15px;
		display: none;
	}
	.direction i:last-child{
		position: relative;
		left: 220px;
	}
	.Title_News {
		width: 150px;
		height: 50px;
		margin: 0 auto;
		background: url("../Image/News.png") no-repeat;
		background-size: 100% 100%;
	}

	.Body .Company-Ranking{
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		width: 150px;
		height: 225px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
	.Body .Learn-Ranking{
		float: right;
		margin-right: 15px;
		margin-top: 15px;
		width: 150px;
		height: 225px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
	input[type=radio]{
		border: 0px;
		height: 10px;
		width: 10px;
	}
}
@media only screen and (max-width: 780px){
	.Home {
		width: 100%;
		height:  auto;
		margin-top: 0px;
		border-collapse: collapse;
	}
	.Home .Top{
		margin: 0 auto;
		width: 100%;
		height: 35px;
		background: url("../Image/bg-top.jpg") no-repeat;
		background-size: 100%;
	}
	.Home .Top #Logo{
		width: 117px;
		height: 35px;
		background: url("../Image/Logo.png") no-repeat ;
		background-size: 90%;
		float:left;
		margin-left: 2.5px;
		margin-top: 1.25px;

	}
	.Home .Top #Menu{
		list-style-type: none;
		overflow: hidden;
		padding: 6px;
		text-align: center;
		font-family: Raleway;
		width: 200px;
		height: 35px;
		float: left;
		margin-top: 1.25px;
		margin-left: 1.25px;
	}
	.Home .Top #Language{
		text-align: center;
		width: 37.5px;
		height: 10px;
		float: right;
		margin-right: 2.5px;
		margin-top: 1.25px;
		font-size: 3px;

	}
	.Menu_top a{
		float: left;
		text-shadow: 0.5px 0.5px 1.25px darkslategray;
		transition: 0.7s ease;
		background:  url("../Image/None.png") ;
		background-size: 90%;
		color: #000000;
		font-size: 6.25px;
		text-decoration: none;
		padding: 6.25px 0;
		margin: 0 5px;
	}
	.Menu_top .icon{
		display: none;
	}

	.Menu_button:hover {
		border-bottom: 0.25px solid #000000;
		text-decoration: none;
		padding: 1.5px 0;
	}

	.pick_language{
		float: right;
		background: url("../Image/None.png");
		background-size: 90%;
		font-size: 3px;
		display: block;
	}
	.Menu_top.responsive .Menu_button {
		float: none;
		display: block;
		text-shadow: 2px 2px 5px darkslategray;
		transition: 0.7s ease;
		background:  url("../Image/None.png") ;
		color: #000000;
		font-size: 25px;
		text-decoration: none;
		margin: 0 20px;
		text-align: left;
	}
	.Body .BackGround_Body{
		width: 350px;
		height: 240px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 15px;
		border-radius: 10px;
		border: 1px solid #000000;
		background: url("../Image/bg-top.jpg");
	}
	.Image_body{
		width: 300px;
		margin: 0 auto;
		overflow: hidden;
		margin-top: 5px;
		border-radius: 10px;
		position: relative;
		border: 1px solid #666666;
		z-index: 2;
	}
	img{
		width: 300px;
		height: 150px;
		float: left;

	}
	.Background-choose{
		width: 70px;
		height: auto;
		margin: 0 auto;
		margin-top: 10px;
	}
	.Change {
		list-style-type: none;
		overflow: hidden;
		width: 45px;
		height: 7.5px;
		transition: all 0.5s;
		margin:  0 auto;
		margin-top: 10px;
	}

	.Image_Stranfer{
		width: 99999px;
		transition: all 0.5s;
	}
	.Image_body:hover .direction{
		display: block;
	}
	.direction{
		position: absolute;
		color: black;
		font-size: 25px;
		top: 20%;
		padding-left: 15px;
		display: none;
	}
	.direction i:last-child{
		position: relative;
		left: 220px;
	}
	.Title_News {
		width: 150px;
		height: 50px;
		margin: 0 auto;
		background: url("../Image/News.png") no-repeat;
		background-size: 100% 100%;
	}

	.Body .Company-Ranking{
		display: none;
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		width: 150px;
		height: 225px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
	.Body .Learn-Ranking{
		display: none;
		float: right;
		margin-right: 15px;
		margin-top: 15px;
		width: 150px;
		height: 225px;
		background: url("../Image/bg-top.jpg");
		border-radius: 10px;
		border: 1px solid #000000;
	}
	input[type=radio]{
		border: 0px;
		height: 10px;
		width: 10px;
	}
}
