* {
	margin: 0px;
	padding: 0px;
}	
.Home {
	width: 100%;
	height:  800px;
	margin-top: 0px;
	border-collapse: collapse;
	background: #7ABAE2	;
}
.Home .Top{
	margin: 0 auto;
	width: 100%;
	height: 130px;
}
.Home .Top #Logo{
	width: 467px;
	height: 130px;
	background: url("../Image/Logo.png") no-repeat ;
	float:left;
	margin-left: 10px;
	margin-top: 5px;

}
.Home .Top #Menu{
	list-style-type: none;
	overflow: hidden;
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	width: auto;
	height: auto;
	float: left;
	margin-top: 5px;
}

.Avatar{
	margin-top: 10px;
	margin-left: 30px;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.Menu_top a{
	float: left;
	text-shadow: 2px 2px 5px darkslategray;
	transition: 0.7s ease;
	background:  url("../Image/None.png") ;
	color: #000000;
	font-size: 25px;
	text-decoration: none;
	margin: 0 20px;
}
.Menu_top .icon{
	display: none;
}
.Menu_button:hover {
	border-bottom: 1px solid #000000;
	text-decoration: none;
	padding: 6px 0;
}
.Login:hover{
	border-bottom: 1px solid #000000;
	text-decoration: none;
	padding: 6px 0;
}
.Body .BackGround_Body{
	width: 500px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 30px;
	border-radius: 10px;
	border: 1px solid #000000;
	background: url("../Image/bg-top.jpg");
}
.Image_body{
	width: 400px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 5px;
	border-radius: 10px;
	position: relative;
	border: 2px solid #666666;
	z-index: 2;
}
img{
	width: 400px;
	height: 250px;
	float: left;

}
.Background-choose{
	width: 90px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}
.Change {
	list-style-type: none;
	overflow: hidden;
	width: 90px;
	height: 15px;
	transition: all 0.5s;
	margin:  0 auto;
	margin-top: 20px;
}

.Image_Stranfer{
	width: 99999px;
	transition: all 0.5s;
}
.Image_body:hover .direction{
	display: block;
}
.direction{
	position: absolute;
	color: black;
	font-size: 50px;
	top: 40%;
	padding-left: 30px;
	display: none;
}
.direction i:last-child{
	position: relative;
	left: 440px;
}
.Title_News {
	width: 100px;
	height: 50px;
	margin: 0 auto;
	background: url("../Image/News.png") no-repeat;
	background-size: 100px 50px;
}

.Body .Company-Ranking{
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	width: 300px;
	height: 450px;
	background: url("../Image/bg-top.jpg");
	border-radius: 10px;
	border: 1px solid #000000;
}
.Body .Learn-Ranking{
	float: right;
	margin-right: 30px;
	margin-top: 30px;
	width: 300px;
	height: 450px;
	background: url("../Image/bg-top.jpg");
	border-radius: 10px;
	border: 1px solid #000000;
}

